section{
    min-height: 500px;
}

.sections {
    display: flex;
    flex-direction: row;
}

.sidebar {
    height: max-content;
    width: 124px;
    background-color: rgb(164, 232, 235);
}

.page-layout {
    height:max-content;
    width: 900px;
    background-color: rgb(223, 164, 235);
}