nav {
    background-color: var(--background-color);

    font-family: var(--font-primary);
    color: var(--primary-text-color);

    border-radius: 8px 60px 60px 8px;

    padding: 20px;
    margin: 10px;

    height: calc(100% - 20px);

    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    position: relative;

    min-height: 140px;
}

.sidebar-logo {
    width: 140px;
    height: 140px;

    padding: 0;
    margin: 0;

    display: block;

    object-fit: contain;
}

.sidebar-toggle {
    position: absolute;

    right: 5px;
    top: 50%;

    transform: translateY(-50%);

    width: 40px;
    height: 40px;

    padding: 5px;
    margin: 0;

    border: none;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.header-separator,
.footer-separator {
    width: 100%;
    height: 10px;

    flex-shrink: 0;

    border-radius: 16px;

    background-color: var(--primary-color);
}

.header-separator {
    margin-top: 10px;
    margin-bottom: 20px;
}

.footer-separator {
    margin-top: auto;
    margin-bottom: 20px;
}

.sidebar-content {
    display: flex;
    flex-direction: column;

    gap: 0;
}

a {
    color: var(--primary-text-color);
    background-color: var(--primary-color);

    border-radius: 40px;

    width: 100%;
    min-height: 42px;

    box-sizing: border-box;

    display: flex;
    align-items: center;

    padding: 6px 12px;

    margin: 0 0 15px 0;

    text-decoration: none;
}

.sidebar-content img {
    width: 30px;
    height: 30px;

    padding: 0;
    margin: 0 18px 0 0;

    flex-shrink: 0;

    object-fit: contain;
}

.sidebar-footer p {
    color: var(--primary-text-color);
    background-color: var(--primary-color);

    border-radius: 40px;

    width: 100%;
    min-height: 40px;

    box-sizing: border-box;

    display: flex;
    align-items: center;

    padding: 10px 10px 10px 30px;

    margin: 0;
}

nav.collapsed .sidebar-content a span {
    display: none;
}

nav.collapsed .sidebar-content a {
    justify-content: center;
    padding: 6px;
}

nav.collapsed .sidebar-content img {
    margin: 0;
}

nav.collapsed .sidebar-footer p {
    justify-content: center;
    padding: 10px;
}

nav.collapsed .sidebar-logo {
    display: none;
}

nav.collapsed .sidebar-toggle {
    right: 0px;
}