<nav>
    <div class="sidebar-header">
        <img src="/logos/sidebar_logo.svg" class="sidebar-logo" alt="Sidebar Logo">
        <img src="/logos/show_hide_sidebar_icon.svg" class="sidebar-toggle" alt="Sidebar show icon">
    </div>
    <div class="separator"></div>
    <div class="sidebar-content">
        <a href="/home"> 
            <img src="/logos/home_icon.svg" alt="Home Icon">
            Home
        </a>
        <a href="/characters"> 
            <img src="/logos/characters_icon.svg" alt="Character Icon">
            Characters
        </a>
        <a href="/weapons"> 
            <img src="/logos/weapons_icon.svg" alt="Weapon Icon">
            Weapons
        </a>
        <a href="/shops"> 
            <img src="/logos/shops_icon.svg" alt="Shop Icon">
            Shops
        </a>
        <a href="/items"> 
            <img src="/logos/items_icon.svg" alt="Item Icon">
            Items
        </a>
    </div>
    <div class="separator"></div>
    <div class="sidebar-footer">
        <p>V1.0</p>
    </div>
</nav>
