nav {
    background-color: var(--background-color);
    font-family: var(--font-primary);
    color: var(--primary-text-color);
    border-radius: 8px 60px 60px 8px;
    padding: 20px;
    margin: 10px;
}

.sidebar-logo {
    padding-right: 0px;
    margin-right: 130px;
    height: 140px;
    width: 140px;
}

.header-separator {
    width: 330px;
    height: 10px;
    border-radius: 16px;
    background-color: var(--primary-color);
    margin-bottom: 20px;
}

.footer-separator {
    width: 330px;
    height: 10px;
    border-radius: 16px;
    background-color: var(--primary-color);
    margin-top: 338.5px;
}

img {
    width: 25px;
    height: 25px;
    padding-right: 20px;
}

a {
    color: var(--primary-text-color);
    background-color: var(--primary-color);
    border-radius: 40px;
    width: 310px;
    height: 15px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
    margin-left: 0px;
    margin-bottom: 20px;
}

p {
    color: var(--primary-text-color);
    background-color: var(--primary-color);
    border-radius: 40px;
    width: 290px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
    margin-left: 0px;
    margin-bottom: 1px;
    padding-left: 30px;
}


