@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

:root {
    --primary-text-color: #000000;
    --primary-color: #F0B25B;
    --secondary-color: #DA8105;
    --background-color: #FFECCC;
    --font-primary: 'Sedan SC', serif;
}

a {
    color: var(--primary-text-color);
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;

    width: 100%;
    min-height: 100%;

    overflow-x: hidden;
}

body {
    margin: 0;
}