<div class="sidebar-option">
    <img src="https://static.wikia.nocookie.net/realmdnd/images/d/db/Screenshot_2026-04-11_195945.png/revision/latest/scale-to-width-down/1000?cb=20260415182212"
        alt="">
    <span>Characters</span>
</div>
<div class="sidebar-option">
    <img src="https://static.wikia.nocookie.net/realmdnd/images/d/db/Screenshot_2026-04-11_195945.png/revision/latest/scale-to-width-down/1000?cb=20260415182212"
        alt="">
    <span>Characters</span>
</div>

<div class="sidebar-option">
    <img src="https://static.wikia.nocookie.net/realmdnd/images/d/db/Screenshot_2026-04-11_195945.png/revision/latest/scale-to-width-down/1000?cb=20260415182212"
        alt="">
    <span>Characters</span>
</div>
<div class="sidebar-option">
    <img src="https://static.wikia.nocookie.net/realmdnd/images/d/db/Screenshot_2026-04-11_195945.png/revision/latest/scale-to-width-down/1000?cb=20260415182212"
        alt="">
    <span>Characters</span>
</div>
<div class="sidebar-option">
    <img src="https://static.wikia.nocookie.net/realmdnd/images/d/db/Screenshot_2026-04-11_195945.png/revision/latest/scale-to-width-down/1000?cb=20260415182212"
        alt="">
    <span>Characters</span>
</div>