<div class="main-layout" [class.sidebar-collapsed]="sidebarCollapsed">
    <header class="header">
        <app-header-layout></app-header-layout>
    </header>

    <nav class="sidebar">
        <app-sidebar
            [collapsed]="sidebarCollapsed"
            (toggleSidebar)="toggleSidebar()">
        </app-sidebar>
    </nav>

    <section class="page-layout">
        <app-page-layout></app-page-layout>
    </section>

    <footer class="footer">
        <app-footer-layout></app-footer-layout>
    </footer>
</div>